<div class="search-card">
    <div class="search-card__bl">
        <div class="search-card__img">
            <div class="search-card__img--inner">
                <img src="../../../assets/img/2-layers.png" alt="">
                <div class="search-card__rate">8,5 / 10</div>
                <div class="search-card__discount">-55%</div>
                <div class="search-card__text">
                    <img src="../../../assets/img/5-layers.png" alt="">
                    <h3>{{item.hotelName}}</h3>
                    <span>Турция, Кемер, 3 линия</span>
                </div>
                <div class="search-card__recomend">Рекомендуем</div>
            </div>
        </div>
        <div class="search-card__info">
            <h4>7 — 14 ночей</h4>
            <h4>Вылеты 26 фев — 04 мар из Алматы</h4>
        </div>
        <div class="search-card__price-bl">
            <div class="search-card__price-left">
                <a href="">2 взр и 3 реб</a>
                <h2>от {{item.price + ' ' + item.currency}} </h2>
            </div>
            <div class="search-card__price-right">
                <div class="price">458 944 ₸ </div>
                <h4>x 24 мес</h4>
            </div>
        </div>
        <div class="search-card__bottom-bl">
            <a href="#">Показать туры (55)</a>
        </div>
    </div>
</div>
